#footer {
footer{
  width: 100%;
  min-height: 214px;
  padding: 58px 0 49px;
  background: #eaeaea;
  color: #9d9d9d;
  img{
    margin-bottom: 20px;
  }
    p{
      font-size: 13px;
      font-weight: 400;
    }
    h6{
      color: #606060 !important;
      font-size: 19px;
      font-weight: 100;
    }
    ul{
      padding-left: 0px;
      margin-top: 24px;
        li{
          list-style: none;
          margin-bottom: 10px;
            a{
              font-weight: 100;
              color: #9d9d9d;
              line-height: 17px;
              text-decoration: none;
            }a:hover{
              text-decoration: none;
              color: #53b778;
            }
        }
    }
    .social{
      padding-left: 0px;
        li{
          list-style: none;
          display: inline-block;
          width: 32px;
          height: 32px;
          background-color: #c6cbd2;
          margin-right: 10px;
          border-radius: 100%;
          text-align: center;
          transition: .3s ease;
            a{
              color:white;
                i{
                  margin-top: 9px;
                }
            }a:hover{
              color: white !important;
            }
        }li:hover{
          background-color: #53b778;
          transition: .3s ease;
        }
    }
}
}