#home{
margin-top:20px;
	    font-family: "Raleway", sans-serif;
		.blog{
		background: #323A45;
		height:150px;
	}
	.myBlog h1{
		color: white;
		font-weight: 600;
		font-size: 60px;
		padding-top: 20px;
	}
}