body {
  transition: all .5s ease;
}

@media only screen and (max-width: 900px) {
  .topSearch {
    display: none !important;
  }
}
@media only screen and (max-width: 540px) {
  .topInfo {
    display: none;
  }
}
.topInfo {
  width: 100%;
  background-color: #f5f6f7;
  display: block;
  height: 48px;
}
.topInfo .wrapInfo {
  width: 76.2%;
  margin: 0 auto;
}
.topInfo .wrapInfo .topSearch {
  width: 35%;
  display: inline-block;
  padding: 10px 0px;
}
.topInfo .wrapInfo .topSearch label {
  color: #8D8D8E;
}
.topInfo .wrapInfo .topSearch label i {
  font-size: 17px;
}
.topInfo .wrapInfo .topSearch #topSearch {
  border: none;
  background-color: #f5f6f7;
  width: 90%;
  color: #8D8D8E;
  font-size: 17px;
}
.topInfo .wrapInfo .topSearch #topSearch:focus {
  outline: none;
}
.topInfo .wrapInfo .topContacts {
  display: inline-block;
}
.topInfo .wrapInfo .topContacts .topContactsItem {
  display: inline-block;
  padding: 10px 30px;
  margin-right: -5px;
  color: #8D8D8E;
  cursor: pointer;
}
.topInfo .wrapInfo .topContacts .topContactsItem span {
  font-size: 17px;
}
.topInfo .wrapInfo .topContacts .topContactsItem:hover {
  color: #53B778;
}
.topInfo .wrapInfo .topContacts .topContactsItem:first-child {
  border-right: 1px solid #8D8D8E;
}
.topInfo .wrapInfo .topContacts .topContactsItem:nth-child(2) {
  padding-right: 5px;
}

@media only screen and (max-width: 1295px) {
  .nav .navBar {
    display: none !important;
  }

  .fa-bars {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 1296px) {
  .mainDrop {
    display: none !important;
  }
}
.nav {
  display: block;
  background: white;
  width: 76.2%;
  margin: 20px auto;
  margin-top: 0;
}
.nav .logo {
  display: inline-block;
  padding-top: 20px;
  cursor: pointer;
}
.nav .navBar {
  padding-top: 25px;
  display: inline-block;
}
.nav .navBar .navBarChoices {
  display: inline-block;
}
.nav .navBar .navBarChoices > ul {
  list-style-type: none;
  padding: 0;
}
.nav .navBar .navBarChoices > ul > li {
  display: inline-block;
  vertical-align: top;
}
.nav .navBar .navBarChoices > ul > li:nth-child(1) ul {
  display: none;
  list-style-type: none;
  padding: 0;
  background: white;
  position: absolute;
  z-index: 10;
  margin-top: 10px;
}
.nav .navBar .navBarChoices > ul > li:nth-child(1) ul li {
  padding: 5px 20px;
}
.nav .navBar .navBarChoices > ul > li:nth-child(1) ul li a {
  width: 100%;
  word-spacing: 5px;
  transition: 0s all ease;
}
.nav .navBar .navBarChoices > ul > li:nth-child(1) ul li a:hover {
  border-bottom: none !important;
  cursor: pointer;
  color: #53B778;
}
.nav .navBar .navBarChoices > ul > li:nth-child(1) ul li a span {
  float: left;
  margin-right: 10px;
}
.nav .navBar .navBarChoices > ul > li a {
  text-decoration: none;
  font-size: 17px;
  color: #8D8D8E;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.4s all ease;
}
.nav .navBar .navBarChoices > ul > li a:hover {
  border-bottom: 2px solid #53B778;
}
.nav .navBar .navBtn {
  display: inline-block;
  width: 160px;
  height: 44px;
  border-radius: 0;
  background: #53B778;
  border: 2px solid #53B778;
  transition: 0.2s all ease;
}
.nav .navBar .navBtn:focus {
  outline: none;
}
.nav .navBar .navBtn:hover {
  color: #53B778;
  background: white;
}
.nav .fa-bars {
  display: none;
  color: black;
  font-size: 30px;
  padding-top: 20px;
  cursor: pointer;
}

.mainDrop {
  width: 100%;
  text-align: left;
  display: none;
}
.mainDrop > ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0px !important;
}
.mainDrop > ul > ul {
  width: 100%;
  list-style-type: none;
  display: none;
}
.mainDrop > ul > ul > li {
  width: 100%;
  cursor: pointer;
}
.mainDrop > ul > ul > li:hover a {
  color: #53B778 !important;
}
.mainDrop > ul > ul > li a {
  width: 100%;
  text-decoration: none;
  color: grey;
  word-spacing: 5px;
}
.mainDrop > ul > li {
  width: 100%;
  padding: 0;
  display: block;
  border-bottom: 1px solid #53B778;
  padding: 10px 20px;
}
.mainDrop > ul > li:hover {
  background: #53B778;
}
.mainDrop > ul > li:hover a {
  color: white;
}
.mainDrop > ul > li a {
  text-decoration: none;
  font-size: 17px;
  color: #8D8D8E;
  cursor: pointer;
}
.mainDrop button {
  margin-top: 15px;
  width: 100%;
  height: 44px;
  border-radius: 0;
  background: #53B778;
  border: 2px solid #53B778;
  transition: 0.2s all ease;
}
.mainDrop button:focus {
  outline: none;
}
.mainDrop button:hover {
  color: #53B778;
  background: white;
}

.activateLink {
  color: #53B778 !important;
  border-bottom: 2px solid #53B778 !important;
}

#main {
  width: 100%;
  height: 400px;
  background: url("../images/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#main .container {
  margin: 60px 60px;
}
#main .container h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
#main .container p {
  width: 50%;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
#main .container .myBtn {
  margin-top: 30px;
  width: 15%;
  height: 50px;
  background: transparent;
  border: 2px solid #53B778;
  color: white;
  font-weight: bold;
  transition: 1s ease;
}
#main .container .myBtn:hover {
  background: #53B778;
}

#feature {
  width: 100%;
  min-height: 400px;
}
#feature h1 {
  margin: 0;
  padding: 70px 0px 0px 30px;
  color: #53B778;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
#feature hr {
  margin-top: 10px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #eee;
}
#feature img {
  width: 100%;
  box-sizing: border-box;
}
#feature .corner {
  right: 15px;
  width: 20%;
  position: absolute;
}
#feature .first {
  margin: 20px 0px 0px 0px;
  font-size: 14px;
  color: #9d9d9d;
}
#feature .second {
  font-size: 16px;
  color: #606060;
  font-family: 'Raleway', sans-serif;
}
#feature h3 {
  color: #323A45;
  margin: 20px 0px;
  transition: .1s;
}
#feature h3:hover {
  color: #58B778;
  cursor: pointer;
}
#feature .text {
  padding: 0px 20px;
}

#gallery {
  width: 100%;
  min-height: 700px;
}
#gallery h1 {
  margin: 0;
  padding: 70px 0px 0px 30px;
  color: #53B778;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
#gallery hr {
  margin-top: 10px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #eee;
}
#gallery ul li {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}
#gallery ul li:hover {
  border-bottom: 2px solid #8BCEA4;
}
#gallery ul li:first-child {
  border-bottom: 2px solid #8BCEA4;
}
#gallery ul li:first-child a {
  color: #8BCEA4;
}
#gallery ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #7B7B7B;
  font-family: 'Raleway', sans-serif;
}
#gallery ul li a:hover {
  color: #8BCEA4;
}
#gallery .imgItem {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  position: relative;
  transition: 1s ease;
}
#gallery .imgItem:hover .item {
  transform: scale(1);
  cursor: pointer;
  transition: 1s ease;
}
#gallery .item {
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: absolute;
  transform: scale(0);
}
#gallery .item button {
  color: white;
  width: 33%;
  margin-top: 100px;
  height: 40px;
  background: transparent;
}
#gallery .item button:hover {
  background: #53B577;
  color: white;
}
#gallery img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#gallery button {
  margin-top: 60px;
  margin-bottom: 60px;
  background: #53B778;
  border-radius: 0;
  width: 32%;
  border: 1px solid #53B778;
  transition: 1s ease;
}
#gallery button:hover {
  background: white;
}
#gallery button:hover a {
  color: #53B778;
}
#gallery button a {
  transition: 1s ease;
  text-decoration: none;
  color: white;
}

#contact {
  min-height: 210px;
  padding: 53px 0 48px;
  background: #323a45;
  width: 100%;
}
#contact .sircle {
  border-radius: 100%;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -80px;
  cursor: pointer;
  box-shadow: 1px -2px 5px 0px rgba(198, 198, 198, 0.59);
}
#contact .sircle i {
  color: #838383;
  font-size: 15px;
  margin-top: 15px;
}
#contact h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  color: white;
}
#contact form {
  padding-top: 50px;
  padding-bottom: 20px;
}
#contact form input {
  padding: 5px 45px;
  height: 45px;
  border: none;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  border-radius: 0px;
}
#contact form .button {
  background: #53b778;
  border-color: #53b778;
  padding: 15px 20px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  transition: .3s ease;
}
#contact form .button:hover {
  background: transparent;
  color: #53b778;
  border: 1px solid #53b778;
  transition: .3s ease;
}
#contact p {
  font-size: 16px;
  font-weight: 200;
  margin-top: 80px;
  margin-bottom: 8px;
  color: #9d9d9d;
}

#footer footer {
  width: 100%;
  min-height: 214px;
  padding: 58px 0 49px;
  background: #eaeaea;
  color: #9d9d9d;
}
#footer footer img {
  margin-bottom: 20px;
}
#footer footer p {
  font-size: 13px;
  font-weight: 400;
}
#footer footer h6 {
  color: #606060 !important;
  font-size: 19px;
  font-weight: 100;
}
#footer footer .social li a {
  border-radius: 50%;
  background: #c6cbd2;
  height: 32px;
  width: 32px;
  color: white;
  padding: 6px 10px;
}
#footer footer ul {
  padding-left: 0px;
  margin-top: 24px;
}
#footer footer ul li {
  list-style: none;
  margin-bottom: 10px;
  display: inline-block;
}
#footer footer ul li a {
  font-weight: 100;
  color: #9d9d9d;
  line-height: 17px;
  text-decoration: none;
}
#footer footer ul li a:hover {
  text-decoration: none;
  color: #53b778;
}

/*# sourceMappingURL=style.css.map */
